@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --f-all: "Red Hat Text", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: hsl(20, 50%, 98%);
}

/* MAIN CONTAINER */

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 80px 100px;
    column-gap: 40px;
}

/*

    PRODUCTS CONTAINER

*/

.products-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

/* PRODUCTS TEXT */

.products-text {
    display: flex;
}

.products-text-itself {
    font-size: 2.5rem;
    color: hsl(14, 65%, 9%);
}

/* PRODUCTS THEMSELVES */

.products-themselves {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 25px;
}

/* PRODUCT ITSELF */

.product-itself {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* PRODUCT ITSELF IMAGE */

.product-itself-image {
    width: 100%;
    /* height: 250px; */
    line-height: 0;
    border-radius: 1rem;
    overflow: hidden;
}

.product-itself-image-itself {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* PRODUCT ITSELF BUTTONS */

.product-itself-buttons {
    display: flex;
    justify-content: center;
    height: 40px;
    position: relative;
}

/* PRODUCT ITSELF BUTTONS - ADD TO CART BUTTON */

.product-itself-add-to-cart-button {
    position: absolute;
    top: -25px;
    width: 70%;
    height: 50px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border: 1px solid hsl(12, 20%, 44%);
    cursor: pointer;
    background-color: white;
}

.product-itself-add-to-cart-button-text {
    font-weight: 600;
    color: hsl(14, 65%, 9%);
}

.product-itself-add-to-cart-button:hover {
    border: 1px solid hsl(14, 86%, 42%);
}

.product-itself-add-to-cart-button:hover .product-itself-add-to-cart-button-text {
    color: hsl(14, 86%, 42%);
}

/* PRODUCT ITSELF BUTTONS - INCREMENT DECREMENT BUTTONS CONTAINER */

.product-itself-buttons-increment-decrement-buttons {
    position: absolute;
    top: -25px;
    width: 70%;
    height: 50px;
    border-radius: 2rem;
    background-color: hsl(14, 86%, 42%);
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
}

/* DECREMENT NUMBER BUTTON */

.product-itself-buttons-decrement-button {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2rem;
    cursor: pointer;
}

.product-itself-buttons-decrement-button-svg {
    color: white;
    width: 20px;
    height: 20px;
}

.product-itself-buttons-decrement-button:hover {
    background-color: white;
}

.product-itself-buttons-decrement-button:hover .product-itself-buttons-decrement-button-svg {
    color: hsl(14, 86%, 42%);
}

/* INCREMENT DECREMENT OUTPUT TEXT */

.product-itself-buttons-increment-decrement-output {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

/* INCREMENT NUMBER BUTTON */

.product-itself-buttons-increment-button {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 2rem;
    cursor: pointer;
}

.product-itself-buttons-increment-button-svg {
    color: white;
    width: 20px;
    height: 20px;
}

.product-itself-buttons-increment-button:hover {
    background-color: white;
}

.product-itself-buttons-increment-button:hover .product-itself-buttons-increment-button-svg {
    color: hsl(14, 86%, 42%);
}

/* PRODUCT ITSELF TEXT CONTAINER */

.product-itself-text {
    display: flex;
    flex-direction: column;
}

.product-itself-text-category {
    color: hsl(12, 20%, 44%);
    font-weight: 500;
}

.product-itself-text-name {
    font-weight: 600;
    color: hsl(14, 65%, 9%);
}

.product-itself-text-price {
    color: hsl(14, 86%, 42%);
    font-weight: 500;
}

/*

    CART CONTAINER

*/

.cart-container {
    width: 400px;
}

/* CART ITSELF */

.cart-itself {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
}

/* CART ITSELF TEXT */

.cart-itself-text {
    display: flex;
    align-items: center;
}

.cart-itself-text-itself {
    color: hsl(14, 86%, 42%);
}

/* CART ITSELF EMPTY */

.cart-itself-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    row-gap: 5px;
}

.cart-itself-empty-paragraph {
    font-weight: 500;
    color: hsl(12, 20%, 44%);
}

/* CART ITSELF PRODUCT CONTAINER */

.cart-itself-product-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* CART ITSELF PRODUCT DIVIDER */

.cart-itself-product-divider {
    border: 0;
    border-top: 1px solid hsl(13, 31%, 94%);
}

/* CART ITSELF PRODUCT ITSELF */

.cart-itself-product-itself {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CART ITSELF PRODUCT ITSELF LEFT */

.cart-itself-product-itself-left {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.cart-itself-product-itself-left-text {
    color: hsl(14, 65%, 9%);
    font-weight: 700;
    font-size: 1.05rem;
}

/* CART ITSELF PRODUCT ITSELF LEFT TEXT */

.cart-itself-product-itself-left-inner {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.cart-itself-product-itself-left-inner-times-text {
    color: hsl(14, 86%, 42%);
    font-size: 0.95rem;
}

.cart-itself-product-itself-left-inner-times-price {
    font-weight: 400;
    font-size: 0.95rem;
}

.cart-itself-product-itself-left-inner-times-overall-price {
    color: hsl(12, 20%, 44%);
    font-size: 0.95rem;
    font-weight: 650;
}

/* CART ITSELF PRODUCT ITSELF RIGHT */

.cart-itself-product-itself-right {
    display: flex;
    align-items: center;
}

.cart-itself-product-itself-right-delete-button {
    width: 22px;
    height: 22px;
    border-radius: 2rem;
    border: 1px solid hsl(12, 20%, 44%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.cart-itself-product-itself-right-delete-button-svg {
    color: hsl(12, 20%, 44%);
    width: 15px;
    height: 15px;
}

.cart-itself-product-itself-right-delete-button:hover {
    border: 1px solid hsl(14, 65%, 9%);
}

.cart-itself-product-itself-right-delete-button:hover .cart-itself-product-itself-right-delete-button-svg {
    color: hsl(14, 65%, 9%);
}

/* CART ITSELF PRODUCT ORDER TOTAL */

.cart-itself-product-order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-itself-product-order-text {
    font-weight: 500;
    font-size: 0.9rem;
    color: hsl(14, 65%, 9%);
}

.cart-itself-product-order-overall-price {
    font-size: 1.5rem;
    color: hsl(14, 65%, 9%);
}

/* CART ITSELF PRODUCT DELIVERY */

.cart-itself-product-delivery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: hsl(20, 50%, 98%);
    border-radius: 0.5rem;
    padding-block: 15px;
}

.cart-itself-product-delivery-container-text {
    font-weight: 400;
}

.cart-itself-product-delivery-container-text-inner {
    font-weight: 700;
    color: hsl(14, 65%, 9%);
}

/* CART ITSELF PRODUCT CONFIRM ORDER BUTTON */

.cart-itself-product-confirm-order-button {
    height: 60px;
    font-size: 1rem;
    border-radius: 2rem;
    border: 0;
    background-color: hsl(14, 86%, 42%);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}